* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  align-items: center;
}
dl,ol,ul {
  margin-top: 0;
  margin-bottom: 0;
}
.logo {
  color: #2aa77b;
  font-size: 28px;
  font-weight: bold;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.nav-right ul {
  cursor: pointer;
  list-style: none;
  display: flex;
  gap: 25px;
}
.hero {
  height: 100vh;
  background-image: url("https://dynamic-media.tacdn.com/media/photo-o/31/e4/6e/9f/caption.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero h1 {
  color: white;
  font-size: 48px;
}

.hero p {
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
}
.text {
  font-size: 15px;
  color: black;
}
.title {
  font-size: 14px;
}

.button {
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  width: 850PX;         
  max-width: 850px;
  margin: auto;
  padding: 10px;
  flex-wrap: wrap;  
 
}

.item {
    flex: 1;
  text-align: left;
  padding: 10px 20px;
}

.item span {
  display: block;
}

.item .title {
  font-weight: bold;
  font-size: 14px;
}

.item .text {
  color: #777;
  font-size: 15px;
}

.line {
  color: #ddd;
}

.buttonn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0f766e;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.end-left {
  position: absolute;
  right: 0px;
  top: 538px;
  color: white;
  background: #00000080;
  padding: 13px;
}
.book{
  display: flex;
  justify-content: center;
  margin: 4rem 0px;
}
.icons{
display: flex;
justify-content: space-around;
text-align: center;

}
.login{
  display: flex;
  align-items: center;
  background-color: #E6E6FA;
  width: 70%;
  height: 170px;
  margin: 5rem 0;
  margin-left: 170px;

}
.loginn{
  border-radius: 16px;
  padding: 10px 10px;
  color: white;
  background-color: black;
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  justify-content: center;

}
.lineee{
  margin-top: 16px;
  width: 30%;
  height: 1px;
  background-color: black;
}.lineee1{
  margin-right: 10px;
  margin-top: 16px;
  margin-right: 0;
  width: 30%;
  height: 1px;
  background-color: black;
}

.linee{
  gap: 15px;
justify-content: center;
  display: flex;
  margin-top: 30px;
}
.images h3{
  margin-top: 30px;
}
.images {
  padding: 20px;
}

.images-row {
  margin-top: 50px;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.img-box {
  position: relative;
  width: 20%;
}
.img-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.city-name {
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
@media(max-width:768px){
  .button{
  width: 100%;
  }
  .iconss{
    flex-direction: column;
  }
  
.login{
  padding: 40px;
  margin-left: 10px;
  
  width: 100%;
  height: 100%;
}
}







